// sidebar
$menuText:#bfcbd9;
$menuActiveText:#4fc08d;
$subMenuActiveText:#4fc08d; //https://github.com/ElemeFE/element/issues/12951

$menuBg:#001529;
$menuHover:#263445;

$subMenuBg:#0f2438;
$subMenuHover: #394d65;

$sideBarWidth: 230px;

// the :export directive is the magic sauce for webpack
// https://www.bluematador.com/blog/how-to-share-variables-between-js-and-sass
:export {
  menuText: $menuText;
  menuActiveText: $menuActiveText;
  subMenuActiveText: $subMenuActiveText;
  menuBg: $menuBg;
  menuHover: $menuHover;
  subMenuBg: $subMenuBg;
  subMenuHover: $subMenuHover;
  sideBarWidth: $sideBarWidth;
}
